# Importación de librerias

In [241]:
import sys

sys.path.append('../src/eda')
import pandas as pd
import importlib
import procesador_EDA
importlib.reload(procesador_EDA)
from procesador_EDA import ProcesadorEDA

In [242]:
ruta = "D:/cuc/programacion 2/Proyecto Final/Optimizacion-y-Prediccion-de-Demanda-del-Transporte-Publico/data/raw/Tren_urbano_pasajeros.csv"
df = pd.read_csv(ruta, encoding='utf-8')

procesador = ProcesadorEDA(df)

# Análisis Tren urbano

In [245]:
procesador.mostrar_head()

,Código de Ruta,Descripción de la ruta,Código recorrido,Descripción del recorrido,Sentido,Dia,Mes,Año,Cantidad de Pasajeros Regulares,Cantidad de Adultos Mayores,Ingresos
0,RF005,ALAJUELA - HEREDIA Y VICEVERSA,T4471,ALAJUELA - HEREDIA Y VICEVERSA,Destino – Origen,30,6,2025,371.0,NaN,296800.0
1,RF005,ALAJUELA - HEREDIA Y VICEVERSA,T4471,ALAJUELA - HEREDIA Y VICEVERSA,Destino – Origen,27,6,2025,415.0,NaN,332000.0
2,RF005,ALAJUELA - HEREDIA Y VICEVERSA,T4471,ALAJUELA - HEREDIA Y VICEVERSA,Destino – Origen,26,6,2025,399.0,NaN,319200.0
3,RF005,ALAJUELA - HEREDIA Y VICEVERSA,T4471,ALAJUELA - HEREDIA Y VICEVERSA,Destino – Origen,25,6,2025,392.0,NaN,313600.0
4,RF005,ALAJUELA - HEREDIA Y VICEVERSA,T4471,ALAJUELA - HEREDIA Y VICEVERSA,Destino – Origen,24,6,2025,403.0,NaN,322400.0

In [246]:
procesador.mostrar_tail()

,Código de Ruta,Descripción de la ruta,Código recorrido,Descripción del recorrido,Sentido,Dia,Mes,Año,Cantidad de Pasajeros Regulares,Cantidad de Adultos Mayores,Ingresos
17827,RF001,ESTACION DEL PACIFICO - SAN ANTONIO DE BELEN,T4464,ESTACION DEL PACIFICO - SAN ANTONIO DE BELEN,Origen – Destino,22,1,2021,188.0,5.0,6204000.0
17828,RF001,ESTACION DEL PACIFICO - SAN ANTONIO DE BELEN,T4464,ESTACION DEL PACIFICO - SAN ANTONIO DE BELEN,Origen – Destino,21,1,2021,182.0,8.0,6006000.0
17829,RF001,ESTACION DEL PACIFICO - SAN ANTONIO DE BELEN,T4464,ESTACION DEL PACIFICO - SAN ANTONIO DE BELEN,Origen – Destino,20,1,2021,138.0,27.0,4554000.0
17830,RF001,ESTACION DEL PACIFICO - SAN ANTONIO DE BELEN,T4464,ESTACION DEL PACIFICO - SAN ANTONIO DE BELEN,Origen – Destino,19,1,2021,140.0,7.0,4620000.0
17831,RF001,ESTACION DEL PACIFICO - SAN ANTONIO DE BELEN,T4464,ESTACION DEL PACIFICO - SAN ANTONIO DE BELEN,Origen – Destino,18,1,2021,149.0,9.0,4917000.0

In [247]:
procesador.mostrar_info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17832 entries, 0 to 17831
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Código de Ruta                   17832 non-null  object
 1   Descripción de la ruta           17832 non-null  object
 2   Código recorrido                 17832 non-null  object
 3   Descripción del recorrido        17832 non-null  object
 4   Sentido                          17832 non-null  object
 5   Dia                              17832 non-null  int64
 6   Mes                              17832 non-null  int64
 7   Año                              17832 non-null  int64
 8   Cantidad de Pasajeros Regulares  16790 non-null  float64
 9   Cantidad de Adultos Mayores      3876 non-null   float64
 10  Ingresos                         16789 non-null  float64
dtypes: float64(3), int64(3), object(5)
memory usage: 1.5+ MB

In [288]:
procesador.mostrar_dimensiones()

(270, 11)

In [289]:
procesador.analizar_nulos()

==================================================
ANÁLISIS DE VALORES NULOS Y VACÍOS
==================================================

Valores nulos por columna:
--------------------------------------------------
Codigo de Ruta                0
Descripcion de Ruta           0
Mes                           0
Año                           0
Tipo de Equipo                0
Cantidad de viajes            0
Cantidad de Locomotoras       0
Cantidad de Vagones           0
Uso mensual (h)               0
Distancia recorrida (km)      0
Consumo de combustible (L)    0
dtype: int64


Porcentaje de valores nulos por columna:
--------------------------------------------------
Codigo de Ruta                0.0
Descripcion de Ruta           0.0
Mes                           0.0
Año                           0.0
Tipo de Equipo                0.0
Cantidad de viajes            0.0
Cantidad de Locomotoras       0.0
Cantidad de Vagones           0.0
Uso mensual (h)               0.0
Distancia recorrida (km)      0.0
Consumo de combustible (L)    0.0
dtype: float64

==================================================

In [290]:
#Tratar valores nulos
procesador.rellenar_nulos()
procesador.analizar_nulos()

==================================================
ANÁLISIS DE VALORES NULOS Y VACÍOS
==================================================

Valores nulos por columna:
--------------------------------------------------
Codigo de Ruta                0
Descripcion de Ruta           0
Mes                           0
Año                           0
Tipo de Equipo                0
Cantidad de viajes            0
Cantidad de Locomotoras       0
Cantidad de Vagones           0
Uso mensual (h)               0
Distancia recorrida (km)      0
Consumo de combustible (L)    0
dtype: int64


Porcentaje de valores nulos por columna:
--------------------------------------------------
Codigo de Ruta                0.0
Descripcion de Ruta           0.0
Mes                           0.0
Año                           0.0
Tipo de Equipo                0.0
Cantidad de viajes            0.0
Cantidad de Locomotoras       0.0
Cantidad de Vagones           0.0
Uso mensual (h)               0.0
Distancia recorrida (km)      0.0
Consumo de combustible (L)    0.0
dtype: float64

==================================================

In [291]:
#Revisar valores unicos por columna
for col in df.columns:
    print("=" * 50)
    print(f"\nColumna: {col}\n")
    #print("-" * 50)
    print(df[col].unique())
    print("\n")

==================================================

Columna: Código de Ruta

['RF005' 'RF004' 'RF003' 'RF002' 'RF001']


==================================================

Columna: Descripción de la ruta

['ALAJUELA - HEREDIA Y VICEVERSA' 'ESTACION DEL ATLANTICO - CARTAGO'
 'UNIVERSIDAD LATINA - HEREDIA'
 'INDOOR CLUB - UNIVERSIDAD LATINA - METROPOLI III'
 'ESTACION DEL PACIFICO - SAN ANTONIO DE BELEN']


==================================================

Columna: Código recorrido

['T4471' 'T4470' 'T4469' 'T4468' 'T4467' 'T4466' 'T4465' 'T4464']


==================================================

Columna: Descripción del recorrido

['ALAJUELA - HEREDIA Y VICEVERSA' 'ESTACION DEL ATLANTICO - CARTAGO'
 'ESTACION DEL ATLANTICO – HEREDIA' 'UNIVERSIDAD LATINA - HEREDIA'
 'ESTACION DEL PACIFICO – METROPOLI III'
 'INDOOR CLUB – UNIVERSIDAD LATINA  - ESTACION DEL PACIFICO'
 'INDOOR CLUB - UNIVERSIDAD LATINA - METROPOLI III'
 'ESTACION DEL PACIFICO - SAN ANTONIO DE BELEN']


==================================================

Columna: Sentido

['Destino – Origen' 'Origen – Destino']


==================================================

Columna: Dia

[30 27 26 25 24 23 20 19 18 17 16 13 12 11 10  9  6  5  4  3  2 29 28 22
 21 15 14  8  7  1 31]


==================================================

Columna: Mes

[ 6  5  1  4  3  2 12 11 10  9  8  7]


==================================================

Columna: Año

[2025 2024 2023 2022 2021]


==================================================

Columna: Cantidad de Pasajeros Regulares

[ 371.  415.  399. ... 1179. 1135. 1089.]


==================================================

Columna: Cantidad de Adultos Mayores

[ nan  15.  17.  14.  10.  18.  23.  16.  31.  21.  25.  12. 166. 159.
 134. 105. 170. 186. 180. 317. 165. 315. 203. 154. 318. 201. 305. 112.
 246. 110. 157. 133. 130. 142. 184. 158. 146. 144. 177. 235.  96.  97.
 103.  95. 149. 123. 120. 194. 145. 135. 238. 143.  11.   9.   6.   4.
   3.   7.   5.   8.  20. 155. 321. 181. 188. 240. 148. 182. 393. 210.
  83.  99. 169. 187.  53. 205. 195. 218. 192. 202. 153. 217. 224. 174.
  89. 178. 127. 227. 206. 173.   1.   2.  26. 185. 179. 211. 252. 221.
 199. 287. 233. 209. 126. 160. 220.  55.  86.  71.  69. 114. 141. 122.
 164. 129. 167.  78. 100.  70. 109.  64.  43.  29.  19.  41.  72.  60.
  51.  44.  13. 197. 151.  73.  79. 163. 207. 208. 215. 278. 223. 175.
 128. 132.  54.  77. 226. 189. 267. 106. 219. 242. 216. 243. 251. 269.
 231.  59. 147. 193. 121. 172.  30.  27. 263. 245. 236. 254. 228. 168.
  98. 183. 116. 108. 139. 162. 124.  28. 256. 260. 138.  75.  74.  39.
  45. 137. 117. 152. 200. 150. 232.  58.  87.  48.  62.  68.  36.  66.
  61. 115.  76. 119.  52.  67.  38.  47.  22. 118.  40.  85.  32. 239.
 131. 214. 171.  33. 196. 125. 176.  92.  93. 259. 438. 222. 156. 161.
  84. 229. 248. 111. 198. 104.  24. 140.  94. 191. 212. 102. 230. 204.
 213.  80. 225. 250. 284.  88.  81.  56.  46.  42.  49.  50. 268.  82.
  35.  34.  63. 264.  65. 234. 101.  37. 241.  91. 237. 257. 255. 528.
  90. 282. 275. 280. 294. 293. 270. 190.  57. 136. 320. 107. 113. 300.
 286.]


==================================================

Columna: Ingresos

[ 296800.  332000.  319200. ... 4554000. 4620000. 4917000.]

In [292]:
df.head()

,Código de Ruta,Descripción de la ruta,Código recorrido,Descripción del recorrido,Sentido,Dia,Mes,Año,Cantidad de Pasajeros Regulares,Cantidad de Adultos Mayores,Ingresos
0,RF005,ALAJUELA - HEREDIA Y VICEVERSA,T4471,ALAJUELA - HEREDIA Y VICEVERSA,Destino – Origen,30,6,2025,371.0,NaN,296800.0
1,RF005,ALAJUELA - HEREDIA Y VICEVERSA,T4471,ALAJUELA - HEREDIA Y VICEVERSA,Destino – Origen,27,6,2025,415.0,NaN,332000.0
2,RF005,ALAJUELA - HEREDIA Y VICEVERSA,T4471,ALAJUELA - HEREDIA Y VICEVERSA,Destino – Origen,26,6,2025,399.0,NaN,319200.0
3,RF005,ALAJUELA - HEREDIA Y VICEVERSA,T4471,ALAJUELA - HEREDIA Y VICEVERSA,Destino – Origen,25,6,2025,392.0,NaN,313600.0
4,RF005,ALAJUELA - HEREDIA Y VICEVERSA,T4471,ALAJUELA - HEREDIA Y VICEVERSA,Destino – Origen,24,6,2025,403.0,NaN,322400.0

In [294]:
# Mes con mayores ingresos
ingresos_por_mes = df.groupby('Mes')['Ingresos'].sum()
mes_max = ingresos_por_mes.idxmax()
ingreso_max = ingresos_por_mes.max()
print(f"Mes con mayores ingresos: {mes_max}\nCon {ingreso_max:,.0f} colones")

Mes con mayores ingresos: 3
Con 4,210,891,535 colones

In [295]:
# Ruta con menos pasajeros en un mes
pasajeros_ruta_mes = df.groupby(['Mes', 'Descripción de la ruta'])['Cantidad de Pasajeros Regulares'].sum()
min_ruta, min_mes_ruta = pasajeros_ruta_mes.idxmin()
min_pasajeros = pasajeros_ruta_mes.min()
print(f"Ruta con menos pasajeros en un mes: {min_mes_ruta}\nEn el mes: {min_ruta}\nCon {min_pasajeros:,.0f} pasajeros")

Ruta con menos pasajeros en un mes: ESTACION DEL PACIFICO - SAN ANTONIO DE BELEN
En el mes: 12
Con 26,502 pasajeros

In [296]:
# Ruta con mayor ingreso de adultos mayores
adultos_por_ruta = df.groupby('Descripción de la ruta')['Cantidad de Adultos Mayores'].sum()
ruta_max = adultos_por_ruta.idxmax()
cantidad_max = adultos_por_ruta.max()
print(f"Ruta con mayor cantidad de adultos mayores transportados: {ruta_max}\nTotal adultos mayores: {cantidad_max:,.0f} ")

Ruta con mayor cantidad de adultos mayores transportados: ESTACION DEL ATLANTICO - CARTAGO
Total adultos mayores: 137,646

In [297]:
# Día con mayor ingreso
ingreso_dia_max, dia_max = ingresos_por_dia.max(), ingresos_por_dia.idxmax()
fila_max = df[df['Dia'] == dia_max].iloc[0]
mes_max = fila_max['Mes']
anio_max = fila_max['Año']
print(f"Día con mayor ingreso: {dia_max}\nMes: {mes_max}\nAño: {anio_max}\nCon {ingreso_dia_max:,.0f} colones")

Día con mayor ingreso: 19
Mes: 6
Año: 2025
Con 822,127,604 colones

In [298]:
# Año con mayor ingreso
ingresos_por_año = df.groupby('Año')['Ingresos'].sum()
año_max = ingresos_por_año.idxmax()
ingreso_año_max = ingresos_por_año.max()
print(f"Año con mayor ingreso: {año_max}\nCon {ingreso_año_max:,.0f} ingresos")

Año con mayor ingreso: 2021
Con 11,166,490,563 ingresos

In [299]:
# Año con más adultos mayores transportados
adultos_por_año = df.groupby('Año')['Cantidad de Adultos Mayores'].sum()
año_adultos_max = adultos_por_año.idxmax()
cantidad_adultos_max = adultos_por_año.max()
print(f"Año con más adultos mayores transportados: {año_adultos_max}\nCon {cantidad_adultos_max:,.0f} adultos mayores")

Año con más adultos mayores transportados: 2024
Con 75,290 adultos mayores

# Análisis Locomotoras

## Cargar dataset Locomotoras

In [300]:
ruta_locomotoras = "D:/cuc/programacion 2/Proyecto Final/Optimizacion-y-Prediccion-de-Demanda-del-Transporte-Publico/data/raw/Datos_Abiertos_ARESEP_Estadísticas_rendimiento.csv"
df_locomotoras = pd.read_csv(ruta_locomotoras, encoding='utf-8')

In [301]:
df_locomotoras.head()

,Codigo de Ruta,Descripcion de Ruta,Mes,Año,Tipo de Equipo,Cantidad de viajes,Cantidad de Locomotoras,Cantidad de Vagones,Uso mensual (h),Distancia recorrida (km),...,Lubricante compresor (l),Tipo de lubricante compresor,Lubricante motor diésel (l),Tipo de lubricante motor diésel,Filtro aire,Tipo de filtro aire,Filtro primario,Tipo de filtro primario,Aceite sistema hidráulico,Tipo de aceite sistema hidráulico
0,RF005,ALAJUELA - HEREDIA Y VICEVERSA,6,2025,DMU APOLO,206.0,3.0,4.0,164.8,2142.4,...,NaN,LUBRICANTE SAE 15W-40,NaN,LUBRICANTE SAE 15W-40,NaN,FILTRO AIRE IGUAL O SIMILAR A N° PARTE VOLVO P...,NaN,FILTRO DIESEL TIPO RACOR IGUAL O SIMILAR A TEC...,NaN,ACEITE ATF DEXRON III
1,RF005,ALAJUELA - HEREDIA Y VICEVERSA,5,2025,DMU APOLO,210.0,3.0,4.0,168.0,2184.0,...,NaN,LUBRICANTE SAE 15W-40,NaN,LUBRICANTE SAE 20W-40,NaN,FILTRO AIRE IGUAL O SIMILAR A N° PARTE VOLVO P...,NaN,FILTRO DIESEL TIPO RACOR IGUAL O SIMILAR A TEC...,NaN,ACEITE ATF DEXRON III
2,RF005,ALAJUELA - HEREDIA Y VICEVERSA,4,2025,DMU APOLO,187.0,3.0,4.0,149.6,1944.8,...,NaN,LUBRICANTE SAE 20W-40,NaN,LUBRICANTE SAE 20W-40,NaN,FILTRO AIRE IGUAL O SIMILAR A N° PARTE VOLVO P...,NaN,FILTRO DIESEL TIPO RACOR IGUAL O SIMILAR A TEC...,NaN,ACEITE ATF DEXRON III
3,RF005,ALAJUELA - HEREDIA Y VICEVERSA,3,2025,DMU APOLO,196.0,3.0,4.0,156.8,2038.4,...,NaN,LUBRICANTE SAE 15W-40,NaN,LUBRICANTE SAE 15W-40,NaN,FILTRO AIRE IGUAL O SIMILAR A N° PARTE VOLVO P...,NaN,FILTRO DIESEL TIPO RACOR IGUAL O SIMILAR A TEC...,NaN,ACEITE ATF DEXRON III
4,RF005,ALAJUELA - HEREDIA Y VICEVERSA,2,2025,DMU APOLO,200.0,3.0,4.0,160.0,2080.0,...,NaN,LUBRICANTE SAE 15W-40,NaN,LUBRICANTE SAE 15W-40,NaN,FILTRO AIRE IGUAL O SIMILAR A N° PARTE VOLVO P...,NaN,FILTRO DIESEL TIPO RACOR IGUAL O SIMILAR A TEC...,NaN,ACEITE ATF DEXRON III

In [302]:
procesador = ProcesadorEDA(df_locomotoras)

In [303]:
procesador.mostrar_head()

,Codigo de Ruta,Descripcion de Ruta,Mes,Año,Tipo de Equipo,Cantidad de viajes,Cantidad de Locomotoras,Cantidad de Vagones,Uso mensual (h),Distancia recorrida (km),...,Lubricante compresor (l),Tipo de lubricante compresor,Lubricante motor diésel (l),Tipo de lubricante motor diésel,Filtro aire,Tipo de filtro aire,Filtro primario,Tipo de filtro primario,Aceite sistema hidráulico,Tipo de aceite sistema hidráulico
0,RF005,ALAJUELA - HEREDIA Y VICEVERSA,6,2025,DMU APOLO,206.0,3.0,4.0,164.8,2142.4,...,NaN,LUBRICANTE SAE 15W-40,NaN,LUBRICANTE SAE 15W-40,NaN,FILTRO AIRE IGUAL O SIMILAR A N° PARTE VOLVO P...,NaN,FILTRO DIESEL TIPO RACOR IGUAL O SIMILAR A TEC...,NaN,ACEITE ATF DEXRON III
1,RF005,ALAJUELA - HEREDIA Y VICEVERSA,5,2025,DMU APOLO,210.0,3.0,4.0,168.0,2184.0,...,NaN,LUBRICANTE SAE 15W-40,NaN,LUBRICANTE SAE 20W-40,NaN,FILTRO AIRE IGUAL O SIMILAR A N° PARTE VOLVO P...,NaN,FILTRO DIESEL TIPO RACOR IGUAL O SIMILAR A TEC...,NaN,ACEITE ATF DEXRON III
2,RF005,ALAJUELA - HEREDIA Y VICEVERSA,4,2025,DMU APOLO,187.0,3.0,4.0,149.6,1944.8,...,NaN,LUBRICANTE SAE 20W-40,NaN,LUBRICANTE SAE 20W-40,NaN,FILTRO AIRE IGUAL O SIMILAR A N° PARTE VOLVO P...,NaN,FILTRO DIESEL TIPO RACOR IGUAL O SIMILAR A TEC...,NaN,ACEITE ATF DEXRON III
3,RF005,ALAJUELA - HEREDIA Y VICEVERSA,3,2025,DMU APOLO,196.0,3.0,4.0,156.8,2038.4,...,NaN,LUBRICANTE SAE 15W-40,NaN,LUBRICANTE SAE 15W-40,NaN,FILTRO AIRE IGUAL O SIMILAR A N° PARTE VOLVO P...,NaN,FILTRO DIESEL TIPO RACOR IGUAL O SIMILAR A TEC...,NaN,ACEITE ATF DEXRON III
4,RF005,ALAJUELA - HEREDIA Y VICEVERSA,2,2025,DMU APOLO,200.0,3.0,4.0,160.0,2080.0,...,NaN,LUBRICANTE SAE 15W-40,NaN,LUBRICANTE SAE 15W-40,NaN,FILTRO AIRE IGUAL O SIMILAR A N° PARTE VOLVO P...,NaN,FILTRO DIESEL TIPO RACOR IGUAL O SIMILAR A TEC...,NaN,ACEITE ATF DEXRON III

In [304]:
# Eliminar las columnas irrelevantes
columnas_a_eliminar = [
    'Cantidad de Zapata Freno', 'Tipo de  Zapata  Freno', 'Lubricante cárter (l)',
    'Tipo de lubricante cárter', 'Lubricante compresor (l)', 'Tipo de lubricante compresor',
    'Lubricante motor diésel (l)', 'Tipo de lubricante motor diésel', 'Filtro  aire',
    'Tipo de filtro  aire', 'Filtro primario', 'Tipo de filtro primario',
    'Aceite sistema hidráulico', 'Tipo de aceite sistema hidráulico'
]
df_locomotoras.drop(columns=columnas_a_eliminar, inplace=True)
df_locomotoras.head()

,Codigo de Ruta,Descripcion de Ruta,Mes,Año,Tipo de Equipo,Cantidad de viajes,Cantidad de Locomotoras,Cantidad de Vagones,Uso mensual (h),Distancia recorrida (km),Consumo de combustible (L)
0,RF005,ALAJUELA - HEREDIA Y VICEVERSA,6,2025,DMU APOLO,206.0,3.0,4.0,164.8,2142.4,8998.0
1,RF005,ALAJUELA - HEREDIA Y VICEVERSA,5,2025,DMU APOLO,210.0,3.0,4.0,168.0,2184.0,9173.0
2,RF005,ALAJUELA - HEREDIA Y VICEVERSA,4,2025,DMU APOLO,187.0,3.0,4.0,149.6,1944.8,8168.0
3,RF005,ALAJUELA - HEREDIA Y VICEVERSA,3,2025,DMU APOLO,196.0,3.0,4.0,156.8,2038.4,8561.0
4,RF005,ALAJUELA - HEREDIA Y VICEVERSA,2,2025,DMU APOLO,200.0,3.0,4.0,160.0,2080.0,8736.0

In [305]:
procesador.mostrar_info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Codigo de Ruta              270 non-null    object
 1   Descripcion de Ruta         270 non-null    object
 2   Mes                         270 non-null    int64
 3   Año                         270 non-null    int64
 4   Tipo de Equipo              270 non-null    object
 5   Cantidad de viajes          262 non-null    float64
 6   Cantidad de Locomotoras     262 non-null    float64
 7   Cantidad de Vagones         204 non-null    float64
 8   Uso mensual (h)             262 non-null    float64
 9   Distancia recorrida (km)    262 non-null    float64
 10  Consumo de combustible (L)  262 non-null    float64
dtypes: float64(6), int64(2), object(3)
memory usage: 23.3+ KB

In [306]:
procesador.mostrar_dimensiones()

(270, 11)

In [307]:
procesador.mostrar_resumen_descriptivo()

,Mes,Año,Cantidad de viajes,Cantidad de Locomotoras,Cantidad de Vagones,Uso mensual (h),Distancia recorrida (km),Consumo de combustible (L)
count,270.000000,270.000000,262.000000,262.000000,204.000000,262.000000,262.000000,262.000000
mean,6.166667,2022.777778,323.874046,2.748092,7.754902,4961.720687,28485.394885,27460.698473
std,3.442302,1.317126,220.479561,1.497602,4.591567,11877.735866,60259.593940,31954.617522
min,1.000000,2021.000000,30.000000,1.000000,2.000000,25.000000,342.000000,412.000000
25%,3.000000,2022.000000,132.000000,2.000000,4.000000,138.000000,2730.000000,8797.500000
50%,6.000000,2023.000000,220.000000,3.000000,6.000000,273.000000,8245.500000,18611.500000
75%,9.000000,2024.000000,528.500000,4.000000,12.000000,958.750000,13936.000000,36020.000000
max,12.000000,2025.000000,828.000000,8.000000,14.000000,56672.000000,599824.000000,231525.000000

In [308]:
procesador.analizar_nulos()

==================================================
ANÁLISIS DE VALORES NULOS Y VACÍOS
==================================================

Valores nulos por columna:
--------------------------------------------------
Codigo de Ruta                 0
Descripcion de Ruta            0
Mes                            0
Año                            0
Tipo de Equipo                 0
Cantidad de viajes             8
Cantidad de Locomotoras        8
Cantidad de Vagones           66
Uso mensual (h)                8
Distancia recorrida (km)       8
Consumo de combustible (L)     8
dtype: int64


Porcentaje de valores nulos por columna:
--------------------------------------------------
Codigo de Ruta                 0.00
Descripcion de Ruta            0.00
Mes                            0.00
Año                            0.00
Tipo de Equipo                 0.00
Cantidad de viajes             2.96
Cantidad de Locomotoras        2.96
Cantidad de Vagones           24.44
Uso mensual (h)                2.96
Distancia recorrida (km)       2.96
Consumo de combustible (L)     2.96
dtype: float64

==================================================

In [309]:
procesador.rellenar_nulos()
procesador.analizar_nulos()

==================================================
ANÁLISIS DE VALORES NULOS Y VACÍOS
==================================================

Valores nulos por columna:
--------------------------------------------------
Codigo de Ruta                0
Descripcion de Ruta           0
Mes                           0
Año                           0
Tipo de Equipo                0
Cantidad de viajes            0
Cantidad de Locomotoras       0
Cantidad de Vagones           0
Uso mensual (h)               0
Distancia recorrida (km)      0
Consumo de combustible (L)    0
dtype: int64


Porcentaje de valores nulos por columna:
--------------------------------------------------
Codigo de Ruta                0.0
Descripcion de Ruta           0.0
Mes                           0.0
Año                           0.0
Tipo de Equipo                0.0
Cantidad de viajes            0.0
Cantidad de Locomotoras       0.0
Cantidad de Vagones           0.0
Uso mensual (h)               0.0
Distancia recorrida (km)      0.0
Consumo de combustible (L)    0.0
dtype: float64

==================================================

In [310]:
# Viajes por mes
viajes_por_mes = df_locomotoras.groupby('Mes')['Cantidad de viajes'].sum()
print(viajes_por_mes)

Mes
1     6499.0
2     8894.0
3     9038.0
4     8250.0
5     8671.0
6     8770.0
7     6318.0
8     6131.0
9     5921.0
10    5821.0
11    6199.0
12    4343.0
Name: Cantidad de viajes, dtype: float64

In [311]:
# Ruta con mayor cantidad de viajes
viajes_por_ruta = df_locomotoras.groupby('Descripcion de Ruta')['Cantidad de viajes'].sum()
ruta_max_viajes = viajes_por_ruta.idxmax()
cantidad_max_viajes = viajes_por_ruta.max()
print(f"Ruta con mayor cantidad de viajes: {ruta_max_viajes}\nCon {cantidad_max_viajes:,.0f} viajes")

Ruta con mayor cantidad de viajes: UNIVERSIDAD LATINA - HEREDIA
Con 31,161 viajes

In [312]:
# Mayor uso mensual en horas
uso_por_mes = df_locomotoras.groupby('Mes')['Uso mensual (h)'].sum()
mes_max_uso = uso_por_mes.idxmax()
uso_max_mes = uso_por_mes.max()
print(f"Mes con mayor uso mensual en horas: {mes_max_uso}\nCon {uso_max_mes:,.0f} horas")

Mes con mayor uso mensual en horas: 5
Con 260,685 horas

In [313]:
# Mayor ruta con consumo de litros de gasolina
consumo_por_ruta = df_locomotoras.groupby('Descripcion de Ruta')['Consumo de combustible (L)'].sum()
ruta_max_consumo = consumo_por_ruta.idxmax()
cantidad_max_consumo = consumo_por_ruta.max()
print(f"Ruta con mayor consumo de combustible: {ruta_max_consumo}\nCon {cantidad_max_consumo:,.0f} litros")

Ruta con mayor consumo de combustible: ESTACION DEL ATLANTICO - CARTAGO
Con 1,974,287 litros

In [314]:
# Año con mayor cantidad de viajes
viajes_por_anio = df_locomotoras.groupby('Año')['Cantidad de viajes'].sum()
ano_max_viajes = viajes_por_anio.idxmax()
cantidad_max_viajes_ano = viajes_por_anio.max()
print(f"Año con mayor cantidad de viajes: {ano_max_viajes}\nCon {cantidad_max_viajes_ano:,.0f} viajes")

Año con mayor cantidad de viajes: 2023
Con 24,526 viajes

In [315]:
# Ruta con mayor cantidad de uso en horas
uso_por_ruta = df_locomotoras.groupby('Descripcion de Ruta')['Uso mensual (h)'].sum()
ruta_max_uso = uso_por_ruta.idxmax()
cantidad_max_uso = uso_por_ruta.max()
print(f"Ruta con mayor uso mensual (horas): {ruta_max_uso}\nCon {cantidad_max_uso:,.0f} horas")

Ruta con mayor uso mensual (horas): ESTACION DEL ATLANTICO - CARTAGO
Con 807,723 horas